.navbar-one{
    width: 100%;
    height: 32px;
    background-color: #f3f1f1;
    display: flex;
   
}
.navbar-one{
    padding-left: 65px;
    /* justify-content: space-between; */
    
}
.batan-one{
  position: relative;
  left: 600px;
}
.navbar-two{
    display: flex;
    width: 100%;
    height: 75px;
    border-bottom: 3px solid #a8a1a1;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
    background-color: #f3f1f1;
    z-index: 10;
   
}
.navbar-two>div{
    
}
.navbar-two>div>a{
    text-decoration: none;
    color: black;
    padding: 0px;
    margin: 0 auto;
    font-weight: bold;
}
.navbar-two>div>a:hover{
    color: blue;
    
    
}

.navbar-two>div>button{
    border-radius: 5px;
    justify-content: space-evenly;
}
.batan-two{
    color: #f6f6fa;
    border:  2px solid blue;
    background-color: blue;
    position: relative;
    left: 30px;
}
.batan-three{
    color: #f6f6fa;
    border:  2px solid blue;
    background-color: #99ca3c;
    width: 125px;
}
.center-bar{
    width: 90%;
    display: flex;
    align-items: center;
    /* padding: 50px; */
    justify-content: space-evenly;
    position: relative;
    top: 25px;
    left: 55px;
    gap: 25;



}
.center-bar>div{

    flex-wrap: wrap;
    

}
.sylani{
    color: #99ca3c;
}
.help-bar001{
    text-align: center;
}
.help-bar002{
    display: flex;
    justify-content: space-between;
   
}
.help-bar002>div>img{
    width: 95%;
    transition: 0.5s;
}
.help-bar002>div>img:hover{
   transform: scale(1.1);
   z-index: 2;
    
}
.help-barone{
    height: 450px;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 55px;
    top: 55px;
    transition: 5s;
}
.help-barone>div>img{
    transition: 0.5s;
}
.help-barone>div>img:hover{
    transform: scale(1.1);
    z-index: 2;

}
.btm-res{
    display: none;
}
.bottam-barone{
    
}
@media only screen and (max-width: 600px){
    .navbar-one{
        gap: 1px;
        width: 600px;
        position: fixed;
        
    }
    .navbar-one>img{
        width: 20px;
    }
    .batan-one{
        display: none;
    }
    .navbar-two{position: fixed;}
    .navbar-two>div>a{
        display: none;
    }
    .batan-two{
        display: none;
    }
    .batan-three{
        display: none;
    }
    .center-bar{
        position: relative;
       padding: 60px;
    }
    .center-bar>div>img{
        display: none;
    }
    .help-bar002{
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
        
    }
    .bottam-barone{
        display: none;
    }
    .btm-res{
        display: flex;
        position: relative;
        top: 450px;
        flex-direction: column;
    }

}